<%- include('../layout',{title:'Thêm sản phẩm'}) %>
<div class="content">
    <div class="contentform">
        <h1>Thêm sản phẩm</h1>
        <form method="post" action="/admin/products/add" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Tên sản phẩm" required>
            <input type="file" name="image" required>
            <select name="categoryId">
                <% for (const category of categories) { %>
                    <option value="<%= category.Id %>"><%= category.Name %></option>
                <% } %>
            </select>
            <input type="text" name="shortDes" placeholder="Mô tả ngắn gọn">
            <input type="number" name="price" placeholder="Giá" required>
            <textarea name="fullDes" placeholder="Mô tả đầy đủ"></textarea>
            <button type="submit">Thêm sản phẩm</button>
        </form>
    </div>
    
</div>
<style>
    .contentform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.contentform h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contentform input[type="text"],
.contentform input[type="number"],
.contentform input[type="file"],
.contentform select,
.contentform textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contentform textarea {
    height: 150px;
}

.contentform button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contentform button[type="submit"]:hover {
    background-color: #2980b9;
}

</style>